Source: ros-kinetic-pyros-utils
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin (>= 0.6.18), ros-kinetic-catkin-pip (>= 0.2.0), ros-kinetic-pyros-test (>= 0.0.3), ros-kinetic-rosgraph (>= 1.11.19), ros-kinetic-roslaunch (>= 1.11.19), ros-kinetic-roslint (>= 0.10.0), ros-kinetic-rosnode (>= 1.11.19), ros-kinetic-rospy (>= 1.11.19), ros-kinetic-rostest (>= 1.11.19), ros-kinetic-rosunit (>= 1.11.12)
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-pyros-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rosgraph (>= 1.11.19), ros-kinetic-roslaunch (>= 1.11.19), ros-kinetic-rospy (>= 1.11.19), ros-kinetic-rostest (>= 1.11.19)
Description: Miscellaneous tools for pyROS
