Source: ros-jade-pyros-utils
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin (>= 0.6.18), ros-jade-catkin-pip (>= 0.1.15), ros-jade-pyros-test (>= 0.0.3), ros-jade-rosgraph (>= 1.11.19), ros-jade-roslaunch (>= 1.11.19), ros-jade-roslint (>= 0.10.0), ros-jade-rosnode (>= 1.11.19), ros-jade-rospy (>= 1.11.19), ros-jade-rostest (>= 1.11.19), ros-jade-rosunit (>= 1.11.12)
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-pyros-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-rosgraph (>= 1.11.19), ros-jade-roslaunch (>= 1.11.19), ros-jade-rospy (>= 1.11.19), ros-jade-rostest (>= 1.11.19)
Description: Miscellaneous tools for pyROS
